<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - ASP.NET MVC 教材</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVCについての解説</h1>
        <nav>
            <ul>
                <li><a href="@Url.Action("Introduction", "Lesson")">1. ASP.NET MVCとは</a></li>
                <li><a href="@Url.Action("Routing", "Lesson")">2. MVCの基本構造と流れ</a></li>
                <li><a href="@Url.Action("Controller", "Lesson")">3. コントローラ</a></li>
                <li><a href="@Url.Action("Validation", "Lesson")">4. データ検証</a></li>
                <li><a href="@Url.Action("ViewLesson", "Lesson")">5. ビュー</a></li>
                <li><a href="@Url.Action("EntityFramework", "Lesson")">6. Entity Framework</a></li>
                <li><a href="@Url.Action("Last", "Lesson")">7. 最後に</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 meru</p>
    </footer>
</body>
</html>
